<div class="list-group">
    <h3 class="mb-2">Menu</h3>
    
    <!-- Item Cadastros com submenu -->
    <div class="dropdown">
        <a href="{% url 'gestor_contas:cadastro_conta' %}" class="list-group-item list-group-item-action active">
            Cadastros
        </a>
        <!-- <ul class="dropdown-menu">
            <li><a class="dropdown-item " href="{% url 'gestor_contas:cadastro_conta' %}">Contas</a></li>

        </ul> -->
    </div>
    
    <a href="#" class="list-group-item list-group-item-action">Relatórios</a>
    <a href="#" class="list-group-item list-group-item-action">Pagamentos</a>
</div>
