<div class="bg-light p-2 mb-3 shadow-sm rounded">
    {% if submenu %}
    <ul class="nav nav-tabs">
        {% for item in submenu %}
        <li class="nav-item">
            {% url item.url as submenu_url %}
            <!-- <a class="list-group-item list-group-item-action {% if request.path == submenu_url %}active{% endif %}"
                aria-current="page" href="{{ submenu_url }}">{{ item.nome }}</a> -->
                <a class="submenu {% if request.path == submenu_url %}active{% endif %}"
                aria-current="page" href="{{ submenu_url }}">{{ item.nome }}</a>
        </li>
        {% endfor %}

    </ul>
    {% endif %}

</div>